<a href="https://colab.research.google.com/github/vmr1532/kaggle-projects/blob/master/titaniclnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth
auth.authenticate_user()
drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])
filename = "/root/.kaggle/kaggle.json"
if not os.path.exists(os.path.dirname(filename)):
  os.makedirs(os.path.dirname(filename))
request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [3]:
!kaggle competitions download -c titanic

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 23.5MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 29.5MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.30MB/s]

In [4]:
import csv
import numpy
import pandas
train1=pandas.read_csv("train.csv")
test1=pandas.read_csv("test.csv")
print(train1.shape)
print(train1)
import sys
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import sklearn

(891, 12)
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [71]:


from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
import pandas as pd
data1 = train1.copy(deep = True)
train1['Age'].fillna(train1['Age'].median(), inplace = True)
train1['Embarked'].fillna(train1['Embarked'].mode()[0], inplace = True)
train1['Fare'].fillna(train1['Fare'].median(), inplace = True)

from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
import numpy as np
from numpy import argmax
data1 = train1.copy(deep = True)
label = LabelEncoder()  
train1['Sex_Code'] = label.fit_transform(train1['Sex'])
train1['Ticket_Code'] = label.fit_transform(train1['Ticket'])
train1['Name_Code'] = label.fit_transform(train1['Name'])



train = pandas.get_dummies(train1, columns=['Embarked'])
k=train.drop(columns=['Name','Ticket','Sex','Cabin'],axis=1)
print(k)

X = np.asarray(k.drop(['Survived'],axis=1))

yhat = numpy.asarray(k['Survived'])
# Generate random indices for creating a random validation set with 20% of the labelled data
validx = (numpy.random.uniform(size=len(X)) <= 0.2)

# Create training set (80% of the labelled data)
X_trn = X[~validx]
y_trn = yhat[~validx]

# Create validation set (20% of the labelled data)
X_val = X[validx]
y_val = yhat[validx]
test1['Age'].fillna(test1['Age'].median(), inplace = True)
test1['Embarked'].fillna(test1['Embarked'].mode()[0], inplace = True)
test1['Fare'].fillna(test1['Fare'].median(), inplace = True)

test1['Sex_Code'] = label.fit_transform(test1['Sex'])
test1['Ticket_Code'] = label.fit_transform(test1['Ticket'])
test1['Name_Code'] = label.fit_transform(test1['Name'])

test = pandas.get_dummies(test1, columns=['Embarked'])
v=test.drop(columns=['Name','Ticket','Sex','Cabin'],axis=1)

X_tes = numpy.asarray(v)

     PassengerId  Survived  Pclass   Age  SibSp  Parch      Fare  Sex_Code  \
0              1         0       3  22.0      1      0    7.2500         1
1              2         1       1  38.0      1      0   71.2833         0
2              3         1       3  26.0      0      0    7.9250         0
3              4         1       1  35.0      1      0   53.1000         0
4              5         0       3  35.0      0      0    8.0500         1
5              6         0       3  28.0      0      0    8.4583         1
6              7         0       1  54.0      0      0   51.8625         1
7              8         0       3   2.0      3      1   21.0750         1
8              9         1       3  27.0      0      2   11.1333         0
9             10         1       2  14.0      1      0   30.0708         0
10            11         1       3   4.0      1      1   16.7000         0
11            12         1       1  58.0      0      0   26.5500         0
12            13         0       3  20.0      0      0    8.0500         1
13            14         0       3  39.0      1      5   31.2750         1
14            15         0       3  14.0      0      0    7.8542         0
15            16         1       2  55.0      0      0   16.0000         0
16            17         0       3   2.0      4      1   29.1250         1
17            18         1       2  28.0      0      0   13.0000         1
18            19         0       3  31.0      1      0   18.0000         0
19            20         1       3  28.0      0      0    7.2250         0
20            21         0       2  35.0      0      0   26.0000         1
21            22         1       2  34.0      0      0   13.0000         1
22            23         1       3  15.0      0      0    8.0292         0
23            24         1       1  28.0      0      0   35.5000         1
24            25         0       3   8.0      3      1   21.0750         0
25            26         1       3  38.0      1      5   31.3875         0
26            27         0       3  28.0      0      0    7.2250         1
27            28         0       1  19.0      3      2  263.0000         1
28            29         1       3  28.0      0      0    7.8792         0
29            30         0       3  28.0      0      0    7.8958         1
..           ...       ...     ...   ...    ...    ...       ...       ...
861          862         0       2  21.0      1      0   11.5000         1
862          863         1       1  48.0      0      0   25.9292         0
863          864         0       3  28.0      8      2   69.5500         0
864          865         0       2  24.0      0      0   13.0000         1
865          866         1       2  42.0      0      0   13.0000         0
866          867         1       2  27.0      1      0   13.8583         0
867          868         0       1  31.0      0      0   50.4958         1
868          869         0       3  28.0      0      0    9.5000         1
869          870         1       3   4.0      1      1   11.1333         1
870          871         0       3  26.0      0      0    7.8958         1
871          872         1       1  47.0      1      1   52.5542         0
872          873         0       1  33.0      0      0    5.0000         1
873          874         0       3  47.0      0      0    9.0000         1
874          875         1       2  28.0      1      0   24.0000         0
875          876         1       3  15.0      0      0    7.2250         0
876          877         0       3  20.0      0      0    9.8458         1
877          878         0       3  19.0      0      0    7.8958         1
878          879         0       3  28.0      0      0    7.8958         1
879          880         1       1  56.0      0      1   83.1583         0
880          881         1       2  25.0      0      1   26.0000         0
881          882         0       3  33.0      0      0    7.8958         1
882          883         0       3  22.0      0      0   10.5167         0
883          884         0       2  28.0      0      0   10.5000         1
884          885         0       3  25.0      0      0    7.0500         1
885          886         0       3  39.0      0      5   29.1250         0
886          887         0       2  27.0      0      0   13.0000         1
887          888         1       1  19.0      0      0   30.0000         0
888          889         0       3  28.0      1      2   23.4500         0
889          890         1       1  26.0      0      0   30.0000         1
890          891         0       3  32.0      0      0    7.7500         1

     Ticket_Code  Name_Code  Embarked_C  Embarked_Q  Embarked_S
0            523        108           0           0           1
1            596        190           1           0           0
2            669        353           0           0           1
3             49        272           0           0           1
4            472         15           0           0           1
5            275        554           0           1           0
6             85        515           0           0           1
7            395        624           0           0           1
8            344        412           0           0           1
9            132        576           1           0           0
10           616        727           0           0           1
11            38         95           0           0           1
12           535        729           0           0           1
13           333         28           0           0           1
14           413        840           0           0           1
15           153        359           0           0           1
16           480        682           0           1           0
17           151        867           0           0           1
18           301        839           0           0           1
19           184        512           1           0           0
20           139        273           0           0           1
21           152         80           0           0           1
22           278        523           0           1           0
23            42        765           0           0           1
24           395        626           0           0           1
25           329         44           0           0           1
26           179        240           1           0           0
27            95        260           0           0           1
28           283        605           0           1           0
29           362        813           0           0           1
..           ...        ...         ...         ...         ...
861          221        283           0           0           1
862           88        797           0           0           1
863          568        718           0           0           1
864          120        285           0           0           1
865          126        122           0           0           1
866          632        230           1           0           0
867          590        696           0           0           1
868          309        890           0           0           1
869          344        407           0           0           1
870          387         59           0           0           1
871           54         79           0           0           1
872          502        139           0           0           1
873          303        836           0           0           1
874          575          4           1           0           0
875          195        571           1           0           0
876          504        311           0           0           1
877          358        657           0           0           1
878          363        451           0           0           1
879           59        668           1           0           0
880          115        739           0           0           1
881          394        510           0           0           1
882          508        193           0           0           1
883          565         61           0           0           1
884          650        793           0           0           1
885          480        684           0           1           0
886          101        548           0           0           1
887           14        303           0           0           1
888          675        413           0           0           1
889            8         81           1           0           0
890          466        220           0           1           0

[891 rows x 13 columns]

In [72]:
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
seed=7
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X_trn, y_trn, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)

LR: 0.799457 (0.040835)
LDA: 0.803722 (0.049559)
KNN: 0.611771 (0.057707)
CART: 0.735594 (0.053920)
NB: 0.789557 (0.027672)

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

SVM: 0.625755 (0.068083)

In [74]:
Lnn = LinearDiscriminantAnalysis()
Lnn.fit(X_trn, y_trn)
ynew = Lnn.predict(X_tes)
print(ynew)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [0]:
sub = pd.DataFrame({"PassengerId": test1['PassengerId'],"Survived":ynew})

# Create the submission csv file from the dataframe
sub.to_csv("sub.csv",index=False)

In [77]:
!kaggle competitions submit -c titanic -f sub.csv -m "submission_1"

100% 2.77k/2.77k [00:03<00:00, 723B/s]
Successfully submitted to Titanic: Machine Learning from Disaster