<a href="https://colab.research.google.com/github/vmr1532/kaggle-projects/blob/master/titanic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth
auth.authenticate_user()
drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])
filename = "/root/.kaggle/kaggle.json"
if not os.path.exists(os.path.dirname(filename)):
  os.makedirs(os.path.dirname(filename))
request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [3]:
!kaggle competitions download -c titanic

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 55.4MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 26.7MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.09MB/s]

In [15]:
import csv
import numpy
import pandas
train1=pandas.read_csv("train.csv")
test1=pandas.read_csv("test.csv")
print(test1.shape)
print(train1)
import sys
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import sklearn

(418, 11)
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [21]:
X = numpy.asarray(train1.drop('Survived',axis=1))
print(X)
yhat = numpy.asarray(train1['Survived'])
print(yhat)
# Generate random indices for creating a random validation set with 20% of the labelled data
validx = (numpy.random.uniform(size=len(X)) <= 0.2)

# Create training set (80% of the labelled data)
X_trn = X[~validx]
y_trn = yhat[~validx]

# Create validation set (20% of the labelled data)
X_val = X[validx]
y_val = yhat[validx]

# Create the test set
X_tes = numpy.asarray(test1)

[[1 3 'Braund, Mr. Owen Harris' ... 7.25 nan 'S']
 [2 1 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)' ... 71.2833
  'C85' 'C']
 [3 3 'Heikkinen, Miss. Laina' ... 7.925 nan 'S']
 ...
 [889 3 'Johnston, Miss. Catherine Helen "Carrie"' ... 23.45 nan 'S']
 [890 1 'Behr, Mr. Karl Howell' ... 30.0 'C148' 'C']
 [891 3 'Dooley, Mr. Patrick' ... 7.75 nan 'Q']]
[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

     PassengerId  Pclass                                              Name  \
155         1047       3                              Duquemin, Mr. Joseph
287         1179       1                        Snyder, Mr. John Pillsbury
300         1192       3                         Olsson, Mr. Oscar Wilhelm
394         1286       3                          Kink-Heilmann, Mr. Anton
261         1153       3                     Nilsson, Mr. August Ferdinand
277         1169       2                             Faunthorpe, Mr. Harry
59           951       1                       Chaudanson, Miss. Victorine
376         1268       3                                 Kink, Miss. Maria
147         1039       3                                  Davies, Mr. Evan
74           966       1                              Geiger, Miss. Amalie
79           971       3                            Doyle, Miss. Elizabeth
382         1274       3                        Risien, Mrs. Samuel (Emma)
114         1006       1            Straus, Mrs. Isidor (Rosalie Ida Blun)
81           973       1                                Straus, Mr. Isidor
50           942       1                          Smith, Mr. Lucien Philip
283         1175       3                        Touma, Miss. Maria Youssef
354         1246       3           Dean, Miss. Elizabeth Gladys Millvina""
353         1245       2                                Herman, Mr. Samuel
402         1294       1                    Gibson, Miss. Dorothy Winifred
221         1113       3                            Reynolds, Mr. Harold J
53           945       1                        Fortune, Miss. Ethel Flora
404         1296       1                      Frauenthal, Mr. Isaac Gerald
157         1049       3                          Lundin, Miss. Olga Elida
373         1265       2                            Harbeck, Mr. William H
253         1145       3                          Salander, Mr. Karl Johan
111         1003       3                        Shine, Miss. Ellen Natalia
270         1162       1                      McCaffry, Mr. Thomas Francis
236         1128       1                          Warren, Mr. Frank Manley
66           958       3                           Burns, Miss. Mary Delia
341         1233       3                        Lundstrom, Mr. Thure Edvin
..           ...     ...                                               ...
325         1217       3                                    Assam, Mr. Ali
191         1083       1                            Salomon, Mr. Abraham L
44           936       1  Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
275         1167       2               Bryhl, Miss. Dagmar Jenny Ingeborg
6            898       3                              Connolly, Miss. Kate
250         1142       2                             West, Miss. Barbara J
311         1203       3                              Vartanian, Mr. David
75           967       1                                Keeping, Mr. Edwin
0            892       3                                  Kelly, Mr. James
391         1283       1    Lines, Mrs. Ernest H (Elizabeth Lindsey James)
383         1275       3               McNamee, Mrs. Neal (Eileen O'Leary)
68           960       1                   Tucker, Mr. Gilbert Milligan Jr
167         1059       3                           Ford, Mr. Edward Watson
392         1284       3                     Abbott, Master. Eugene Joseph
218         1110       1      Widener, Mrs. George Dunton (Eleanor Elkins)
42           934       3                             Goldsmith, Mr. Nathan
366         1258       3                                 Caram, Mr. Joseph
345         1237       3                       Abelseth, Miss. Karen Marie
72           964       3                    Nieminen, Miss. Manta Josefina
23           915       1                   Williams, Mr. Richard Norris II
398         1290       3                    Larsson-Rondberg, Mr. Edvard A
185         1077       2                         Maybery, Mr. Frank Hubert
348         1240       2                                  Giles, Mr. Ralph
103          995       3            Johansson Palmquist, Mr. Oskar Leander
407         1299       1                        Widener, Mr. George Dunton
211         1103       3                                 Finoli, Mr. Luigi
67           959       1                    Moore, Mr. Clarence Bloomfield
25           917       3                           Robins, Mr. Alexander A
196         1088       1                   Spedden, Master. Robert Douglas
175         1067       2                         Brown, Miss. Edith Eileen

        Sex    Age  SibSp  Parch              Ticket      Fare        Cabin  \
155    male  24.00      0      0       S.O./P.P. 752    7.5500          NaN
287    male  24.00      1      0               21228   82.2667          B45
300    male  32.00      0      0              347079    7.7750          NaN
394    male  29.00      3      1              315153   22.0250          NaN
261    male  21.00      0      0              350410    7.8542          NaN
277    male  40.00      1      0                2926   26.0000          NaN
59   female  36.00      0      0            PC 17608  262.3750          B61
376  female  22.00      2      0              315152    8.6625          NaN
147    male  22.00      0      0         SC/A4 23568    8.0500          NaN
74   female  35.00      0      0              113503  211.5000         C130
79   female  24.00      0      0              368702    7.7500          NaN
382  female    NaN      0      0              364498   14.5000          NaN
114  female  63.00      1      0            PC 17483  221.7792      C55 C57
81     male  67.00      1      0            PC 17483  221.7792      C55 C57
50     male  24.00      1      0               13695   60.0000          C31
283  female   9.00      1      1                2650   15.2458          NaN
354  female   0.17      1      2           C.A. 2315   20.5750          NaN
353    male  49.00      1      2              220845   65.0000          NaN
402  female  22.00      0      1              112378   59.4000          NaN
221    male  21.00      0      0              342684    8.0500          NaN
53   female  28.00      3      2               19950  263.0000  C23 C25 C27
404    male  43.00      1      0               17765   27.7208          D40
157  female  23.00      0      0              347469    7.8542          NaN
373    male  44.00      0      0              248746   13.0000          NaN
253    male  24.00      0      0                7266    9.3250          NaN
111  female    NaN      0      0              330968    7.7792          NaN
270    male  46.00      0      0               13050   75.2417           C6
236    male  64.00      1      0              110813   75.2500          D37
66   female  18.00      0      0              330963    7.8792          NaN
341    male  32.00      0      0              350403    7.5792          NaN
..      ...    ...    ...    ...                 ...       ...          ...
325    male  23.00      0      0  SOTON/O.Q. 3101309    7.0500          NaN
191    male    NaN      0      0              111163   26.0000          NaN
44   female  45.00      1      0               11753   52.5542          D19
275  female  20.00      1      0              236853   26.0000          NaN
6    female  30.00      0      0              330972    7.6292          NaN
250  female   0.92      1      2          C.A. 34651   27.7500          NaN
311    male  22.00      0      0                2658    7.2250          NaN
75     male  32.50      0      0              113503  211.5000         C132
0      male  34.50      0      0              330911    7.8292          NaN
391  female  51.00      0      1            PC 17592   39.4000          D28
383  female  19.00      1      0              376566   16.1000          NaN
68     male  31.00      0      0                2543   28.5375          C53
167    male  18.00      2      2          W./C. 6608   34.3750          NaN
392    male  13.00      0      2           C.A. 2673   20.2500          NaN
218  female  50.00      1      1              113503  211.5000          C80
42     male  41.00      0      0  SOTON/O.Q. 3101263    7.8500          NaN
366    male    NaN      1      0                2689   14.4583          NaN
345  female  16.00      0      0              348125    7.6500          NaN
72   female  29.00      0      0             3101297    7.9250          NaN
23     male  21.00      0      1            PC 17597   61.3792          NaN
398    male  22.00      0      0              347065    7.7750          NaN
185    male  40.00      0      0              239059   16.0000          NaN
348    male  24.00      0      0              248726   13.5000          NaN
103    male  26.00      0      0              347070    7.7750          NaN
407    male  50.00      1      1              113503  211.5000          C80
211    male    NaN      0      0  SOTON/O.Q. 3101308    7.0500          NaN
67     male  47.00      0      0              113796   42.4000          NaN
25     male  50.00      1      0           A/5. 3337   14.5000          NaN
196    male   6.00      0      2               16966  134.5000          E34
175  female  15.00      0      2               29750   39.0000          NaN

    Embarked
155        S
287        S
300        S
394        S
261        S
277        S
59         C
376        S
147        S
74         C
79         Q
382        S
114        S
81         S
50         S
283        C
354        S
353        S
402        C
221        S
53         S
404        C
157        S
373        S
253        S
111        Q
270        C
236        C
66         Q
341        S
..       ...
325        S
191        S
44         S
275        S
6          Q
250        S
311        C
75         C
0          Q
391        S
383        S
68         C
167        S
392        S
218        C
42         S
366        C
345        S
72         S
23         C
398        S
185        S
348        S
103        S
407        C
211        S
67         S
25         S
196        C
175        S

[334 rows x 11 columns]